* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: inherit;
}
  
html {
    /* スムーススクロール用 */
    scroll-behavior: smooth;
}
body {
    line-height: 1.6;
}
  
/* ヘッダを上に固定 */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(48, 255, 248);*/
    background: linear-gradient(to bottom right, rgb(192, 247, 255, 1), rgba(254, 255, 167, 0.8));
    z-index: 9999; /*重なりを調整*/
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px;
}
header h1 {
  text-align: center;
  position: relative;
  content: none;
  height: 100px;
  padding-top: 22px;
  color: rgb(92, 146, 255);
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 0;
  height: 100%;
}
header li {
    display: flex;
    align-items: center;
}
header ul li a {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  color: rgb(92, 146, 255);
  font-weight: 550;
}
header h1::after {
    content: none;
}



.button-container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
  }
  .button-container a {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 190, 110);
    font-size: 1.2rem;
    position: relative;
    padding: 1rem;
    border-radius: 4px;
    text-decoration: none;
    max-width: 100%;
    width: 360px;
    display: inline-block;
    text-align: center;
  }
  .button-container a::after {
    content: '>';
    font-size: 1.2rem;
    line-height: 1;
    position: absolute;
    right: 2rem;
    top: calc(50% - 0.6rem);
  }
  
  #about {
      background-color: rgb(200, 255, 255);
      text-align: center;
      padding-top: 10em;
      padding-bottom: 5em;
  }
  #about h1{
      color: rgb(255, 217, 0);
      padding-bottom: 20px;
  }
  #about .pic{
    padding:0 !important;
  }
  #about .pic img{
      width: 20%;
      height: auto;
      position: relative;
      margin-top: 3em;
      object-fit: cover;
      border-radius:50%;
  }
  #about .box {
      width: 350px;
      height: 350px;
      background-color: rgb(254, 255, 193);
      margin-left: 34em;
      margin-top: -20.5em;
      object-fit: cover;
      border-radius:50%;
  }
  
  #about  .int {
    background-color: rgb(254, 255, 224);
    margin-top: 5em;
    padding: 3em;
  }
  #about .int h3 {
      font-weight: 200;
      font-size: 17px;
  }
  #about .skill {
    margin-top: 5em;
      text-align: center;
  }
  #about .skill p{ 
    padding-top: 1em;
  }
  

#fin {
    background-color: rgb(254, 255, 213);
    padding: 3em;
}
#fin h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: rgb(92, 146, 255);
}